<div id="box" class="mx-auto max-w-lg bg-gray-700 p-8 rounded-lg mt-[2%] drop-shadow-xl">
    <h1 class="text-center text-blue-500 font-bold text-4xl">Cambio background</h1>
    <p class="text-white text-center text-5xl mt-6">rgb(0, 0, 0)</p>
    <div class="flex flex-col items-center p-4">
        <div class="text-white flex items-center space-x-4">
            <b class="min-w-[60px]">RED</b>
            <input id="red" type="range" min="0" max="200" value="0">
            <sapn class="min-w-[30px]">0</sapn>
        </div>
        <div class="text-white flex items-center space-x-4">
            <b class="min-w-[60px]">GREEN</b>
            <input id="green" type="range" min="0" max="200" value="0">
            <span class="min-w-[30px]">0</span>
        </div>
        <div class="text-white flex items-center space-x-4">
            <b class="min-w-[60px]">BLUE</b>
            <input id="blue" type="range" min="0" max="200" value="0">
            <span class="min-w-[30px]">0</span>
        </div>
        <div class="text-white flex items-center space-x-4">
            <b class="min-w-[60px]">BORDER WIDTH</b>
            <input id="border" type="range" min="0" max="100" value="0">
            <span class="min-w-[30px]">0</span>
        </div>
    </div>
    <div class="flex justify-center">
        <input type="color" id="colors">
    </div>
</div>