<div class="container">
    <h1 class="text-cyan-500 font-bold text-4xl text-center mt-6">Formulario</h1>
    <form class="flex flex-col shadow-lg bg-gray-700 text-white rounded-md max-w-2xl space-y-4 py-12 px-6 mt-8 mx-auto">
        <div class="flex flex-col">
            <label for="name">Nombres:</label>
            <input type="text" name="name" id="name" class="py-2 px-4 mt-1 bg-gray-800 text-white rounded-md" />
        </div>
        <div class="flex flex-col">
            <label for="planet">Apellidos:</label>
            <input type="text" name="lastName" id="lastName" class="py-2 px-4 mt-1 bg-gray-800 text-white rounded-md" />
        </div>
        <div class="flex flex-col">
            <label for="age">Edad:</label>
            <input type="text" name="age" id="age" class="py-2 px-4 mt-1 bg-gray-800 text-white rounded-md" />
        </div>
        <button type="submit" id="send" class="bg-cyan-500 text-white px-4 py-3 rounded-md">
            Enviar
        </button>
    </form>
</div>